.CalculatorScreen.row{
    background-color: black;
    height: 20%;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    text-align: right;
}

.ScreenText{
    font-size:10vh;
    color: white;
    position: relative;
    right: 20px; 
    top: 2.5%; 
}